html {
  font-family: Calibri;
  min-width: 34.375rem;
  margin: auto;
  max-width: 62.5rem;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  color: #4a4a4a;
  margin: 0 2.5% 0 2.5%;
}

.main-content {
  position: relative;
  top: 4rem;
}

h1, h2, a {
  color: rgba(75, 141, 203, 1);
}

/* The below ensures that nav links work accurately, given a fixed header */
#exp-section::before, #edu-section::before, #training-section::before { 
  content: " ";
  display: block;
  height: 4rem;
  margin-top: -4rem;
  pointer-events: none;
  visibility: hidden;
}

#exp-section li:hover, #edu-section li:hover, #training-section li:hover {
  cursor: pointer;
  font-weight: bold;
}

.to-be-expanded {
  display: none;
}

.blue-link {
  color: rgba(75, 141, 203, 1);
  text-decoration: none;
}

.blue-link:hover {
  font-weight: 700;
}

.blue-link:visited {
  color: rgba(75, 141, 203, 1);
}

.print {
  display: none;
  position: absolute;
}

.image-container img {
  display: block;
}

button {
  width: 7.8125rem;
  float: right;
}

#revert-button {
  display: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.padding-right {
  padding-right: 16px;
}

@media (pointer: coarse) {
  body {
    font-size: 100%;
  }
  button {
    font-size: 1.25rem;
    margin-top: 1rem;
    width: 13rem;
  }
  #exp-section a, #edu-section a, #training-section a, nav a {
    font-weight: bold;
  }
}

@media print {
  header {
    display: none;
  }
  .no-print {
    opacity: 0;
    position: absolute;
  }
  .print {
    display: block;
  }
}





/* Header */





header {
  background-color: white;
  min-width: 34.375rem;
  /* The following line needs to be 95% of max width of the page, which is 62.5rem */
  max-width: 59.375rem;
  position: fixed;
  top: 0rem;
  /* Same for the below, but adding 0.25% so that the photo doesn't bypass the header upon scrolling */
  width: 95.25%;
  z-index: 5;
}
  
header .container {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
}

header ul {
  padding: 0;
}

nav li {
  display: table-cell;
  padding: 0 0 0 1rem;
}

nav a {
  color: #4a4a4a;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

#upper-hr {
  margin-top: 0;
}





/* Introduction */





#intro-section {
  display: grid;
  grid-template-areas:  "intro-text intro-img"
                        "headline headline";
  grid-template-columns: 50% 50%;
  grid-template-rows: 18.75rem 4.375rem;
  position: relative;
}

#intro-section .intro-text {
  grid-area: intro-text;
  position: absolute;
  bottom: 0;
}

#intro-section #intro-img {
  grid-area: intro-img;
}

#intro-section img {
  cursor: pointer;
  float: right;
  height: auto;
  width: 63%;
}

#intro-section .headline {
  grid-area: headline;
}

#intro-section h3 {
  margin: 0;
}





/* Experience Section */





#exp-section h3 {
  margin: 0;
}





/* Education Section */





#edu-section h3 {
  margin: 0;
}





/* Further Training Section */





#training-section h3 {
  margin: 0;
}





/* Languages Training Section */





#languages-section h3 {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 16px;
}





/* IT Skills Section */





#it-section h3 {
  margin: 0;
}





/* Footer */





footer {
  bottom: 0rem;
  /* The following two lines need to be same as in the header */
  width: 59.375rem;
  min-width: 34.375rem;
  /* The following for some reason should remain at 100% */
  width: 100%;
}

footer h3 {
  padding-bottom: 1rem;
}